#bookSection {
  display: grid;
  justify-content: center;
}

#divContainer {
  width: 400px;
  position: relative;
  margin-top: 20px;
}

.carousel-caption {
  height: 100%; 
  margin-bottom: 0!important;
}

#bookTitle {
  position: absolute;
  left: 0;
  right: 0;
  top: 7%;}

#bookDescription {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

#rating {
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 4%;
  display: flex;
  left: 0;
  right: 0;
  font-size: 40px;
}

#deleteBook{
  width: 100%;
  height: 100%;
  width: 400px;
}

#buttonDiv{
  position:relative;
  z-index: 1;
  width: 400px;
  justify-content: center;
  width: 80px;
  height: 40px;
}

#addBook{
  margin-bottom: 20px;
}

.carousel-indicators{
  position: absolute;
  bottom: 7% !important;
  margin-bottom: 0 !important;
}

.carousel-control-next{
  height: 94% !important;
}

.carousel-control-prev{
  height: 94% !important;
}